<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

	<!-- Logging Properties -->
	<Properties>
		<Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n
		</Property>
		<Property name="APP_LOG_ROOT">./data/logs</Property>
	</Properties>

	<Appenders>

		<!-- Console Appender -->
		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>

		<RollingFile name="debugLog"
			fileName="${APP_LOG_ROOT}/app-debug.log"
			filePattern="${APP_LOG_ROOT}/app-debug-%d{yyyy-MM-dd}-%i.log">
			<LevelRangeFilter minLevel="DEBUG" maxLevel="DEBUG"
				onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="19500KB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>

		<RollingFile name="infoLog"
			fileName="${APP_LOG_ROOT}/app-info.log"
			filePattern="${APP_LOG_ROOT}/app-info-%d{yyyy-MM-dd}-%i.log">
			<LevelRangeFilter minLevel="INFO" maxLevel="INFO"
				onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="19500KB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>

		<RollingFile name="errorLog"
			fileName="${APP_LOG_ROOT}/app-error.log"
			filePattern="${APP_LOG_ROOT}/app-error-%d{yyyy-MM-dd}-%i.log">
			<LevelRangeFilter minLevel="ERROR" maxLevel="ERROR"
				onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="19500KB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>

	</Appenders>

	<Loggers>
		<Logger name="edu.umich.med.mrc2.datoolbox" level="debug" additivity="false">
			<AppenderRef ref="debugLog" />
			<AppenderRef ref="infoLog" />
			<AppenderRef ref="errorLog" />
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="edu.umich.med.mrc2.datoolbox.gui.owl" additivity="false" level="warn">
			<AppenderRef ref="errorLog" />
		</Logger>		
		<Logger name="org.semanticweb" additivity="false" level="warn">
			<AppenderRef ref="errorLog" />
		</Logger>
		<Logger name="org.obolibrary" additivity="false" level="warn">
			<AppenderRef ref="errorLog" />
		</Logger>
		<Logger name="org.apache.commons.jcs3" additivity="false" level="warn">
			<AppenderRef ref="errorLog" />
		</Logger>
		<Logger name=" com.thoughtworks.xstream" additivity="false" level="warn">
			<AppenderRef ref="errorLog" />
		</Logger>
		<Root level="warn" additivity="false">
			<appender-ref ref="Console" />
		</Root>
	</Loggers>

</Configuration>